{% extends 'base.html' %}
{% block tittle %} About Us {% endblock tittle %}
{% block body %}
    <div class="container m-5" style="font-size: 1.2rem;">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
              <h5 class="card-title">Exciting part of this website is that:</h5>
              <p class="card-text">If you put <b>/greet/your-name</b> as sufix in the website link then you will get greetings from us.</p>
              <h6 class="card-subtitle mb-3 text-body-secondary">For eg: localhost:8000/greet/Jhon-Cena</h6>
              <a href="/" class="btn btn-sm btn-outline-dark">Go Back!</a>
            </div>
          </div>
    </div>
{% endblock body %}